<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>卖家管理系统</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/public/css/quicklayout.css">
      <link rel="stylesheet" href="/public/css/reset.css">
      <link rel="stylesheet" href="/public/css/main.css">
      <style type="text/css">
          .nav-tabs .active a{
              background: #f2f2f2!important
          }
      </style>
      {% block css %}
      {% endblock %}
  </head>
  <body>
    <ul class="nav nav-tabs w1100">
        <li role="presentation" class="{{homeActive}}"><a href="/admin">卖家首页</a></li>
        <li role="presentation" class="{{goodsActive}}"><a href="/admin/goodslist">商品列表</a></li>
        <li role="presentation" class="{{orderActive}}"><a href="/admin/orderlist">订单列表</a></li>
        <li id="logout" role="presentation"><a href="#">退出</a></li>
    </ul>

    {% block content %}
    {% endblock %}
    
    <script>
    $('#logout').on('click', function(){
      $.get('/api/admin/logout', function(result){
          if(result.code == 0){
              window.location.reload();
          }
      })
    })


    </script>
    {% block js %}
    {% endblock %} 
        
  </body>
</html>